/* 8. CUSTOM SELECTORS
--------------------------------------------------------- */
#selectator_dimmer {
    background-color: rgba(0, 0, 0, 0);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    z-index: 100;
}
.selectator_element {
    width: 100%;
    border: 1px solid #ccc;
    box-sizing: border-box;
    background-color: #fff;
    display: inline-block;
    text-decoration: none;
    vertical-align: middle;
    box-shadow: inset 0 1px 1px rgba(0,102,0,.075);
}
.selectator_element * {
    box-sizing: border-box;
    text-decoration: none;
}
.selectator_element img {
    display: block;
}
.selectator_element.disabled {
    background-color: #f5f5f5;
    cursor: not-allowed;
}
.selectator_element.disabled * {
    cursor: not-allowed !important;
}
.selectator_element.multiple {
    padding: 4px 20px 4px 12px !important;
}
.selectator_element.single {
    height: 39px;
    padding: 9px 12px !important;
}
.selectator_element.focused {
    border: 1px solid #88b5f7;
    box-shadow: inset 0 1px 1px rgba(17, 106, 239, .25), 0 0 8px rgba(6, 52, 121, 0.25);
}
.selectator_element:after {
    position: absolute;
    content: '\25BC';
    font-size: 70%;
    transform: scaleY(0.75);
    right: 4px;
    color: #434a54;
    top: 50%;
    line-height: 0;
}
.selectator_element.loading:before {
    border: 3px solid rgba(0, 0, 0, 0.1);
    border-top: 3px solid rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    width: 14px;
    line-height: 0;
    height: 14px;
    margin-top: -10px;
    animation: selectator_spinner 500ms linear infinite;
    content: '';
    position: absolute;
    right: 20px;
    top: 50%;
}

.selectator_selected_items .selectator_placeholder {
    font-size: 80%;
    color: rgba(0, 0, 0, 0.5);
}
.single .selectator_selected_items {
    display: block;
}
.multiple .selectator_selected_items {
    display: inline;
}
.selectator_selected_items .selectator_selected_item {
    color: rgba(0, 0, 0, 0.75);
    position: relative;
    vertical-align: top;
}
.single .selectator_selected_items .selectator_selected_item {
    background-color: transparent;
    display: block;
    margin: 0;
    padding: 0;
    font-size: inherit;
    text-decoration: none;
}
.multiple .selectator_selected_items .selectator_selected_item {
    background-color: #f5f5f5;
    display: inline-block;
    margin: 2.5px 5px 2.5px 0;
    padding: 0 20px 0 5px;
    font-size: 80%;
    border: 1px solid #ccc;
    line-height: 22px;
}
.selectator_selected_items .selectator_selected_item .selectator_selected_item_left {
    float: left;
}
.single .selectator_selected_items .selectator_selected_item .selectator_selected_item_left {
    float: left;
    width: 30px;
}
.single .selectator_selected_items .selectator_selected_item .selectator_selected_item_left img {
    height: 22px;
}
.multiple .selectator_selected_items .selectator_selected_item .selectator_selected_item_left {
    float: left;
    width: 22px;
}
.multiple .selectator_selected_items .selectator_selected_item .selectator_selected_item_left img {
    height: 18px;
}
.single .selectator_selected_items .selectator_selected_item .selectator_selected_item_title {
    height: auto;
    line-height: 1.3;
}
.multiple .selectator_selected_items .selectator_selected_item .selectator_selected_item_title {
    float: left;
    font-weight: 700;
}
.selectator_selected_items .selectator_selected_item .selectator_selected_item_subtitle {
    display: none;
}
.single .selectator_selected_items .selectator_selected_item .selectator_selected_item_right {
    float: right;
    background-color: #ac6;
    color: #fff;
    font-weight: bold;
    font-size: 80%;
    text-align: center;
    line-height: 16px;
    border-radius: 12px;
    padding: 2px 12px;
    margin-right: 40px;
}
.multiple .selectator_selected_items .selectator_selected_item .selectator_selected_item_right {
    display: none;
}
.single .selectator_selected_items .selectator_selected_item .selectator_selected_item_remove {
    display: block;
    position: absolute;
    right: 16px;
    cursor: pointer;
    font-size: 75%;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.75);
    padding: 2px;
    line-height: 0;
    top: 50%;
    transform: scaleX(1.2);
}
.multiple .selectator_selected_items .selectator_selected_item .selectator_selected_item_remove {
    display: inline-block;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.75);
    margin: 0 0 0 5px;
    cursor: pointer;
    font-size: 100%;
    font-weight: 700;
    line-height: 22px;
    vertical-align: top;
    border-radius: 0 2px 2px 0;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 0 5px 0 5px;
}
.multiple .selectator_selected_items .selectator_selected_item .selectator_selected_item_remove:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.selectator_input, .selectator_textlength {
    border: 0;
    display: inline-block;
    margin: 0;
    background-color: transparent;
    font-size: 13px;
    outline: none;
}
.multiple .selectator_input, .multiple .selectator_textlength {
    padding: 3px 0 0 0;
    margin: 3px 0 2px 5px;
}
.single .selectator_input {
    border: 1px solid #ccc;
    position: absolute;
    bottom: -41px;
    left: -1px;
    z-index: 101;
    padding: 9px 12px;
    width: 100%;
    width: calc(100% + 2px);
    border-bottom: 0;
    background-color: #f5f5f5;
    color: #333;
    font-size: inherit;
}
.single.options-hidden .selectator_input {
    opacity: 0;
    position: absolute;
    left: -10000px;
}
.single.options-visible .selectator_input {
    opacity: 1;
}
.disable_search .selectator_input {
    opacity: 0;
    padding: 0 1px 1px 0 !important;
}

.selectator_options {
    margin: 0;
    padding: 0;
    border: 1px solid #ccc;
    position: absolute;
    box-sizing: border-box;
    z-index: 101;
    background-color: #fff;
    overflow-y: auto;
    list-style: none;
    max-height: 250px;
    left: -1px;
    right: -1px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
}
.disable_search .selectator_options {
    border-top: 1px solid #ccc;
}
.single.disable_search .selectator_options {
    padding-top: 0;
}
.options-hidden .selectator_options {
    display: none;
}
.selectator_options .selectator_group {
    padding: 5px;
    font-weight: bold;
}
.selectator_options .selectator_option {
    padding: 5px;
    cursor: pointer;
    color: #434a54;
}
.selectator_options .selectator_option.selectator_group_option {
    padding-left: 20px;
}
.selectator_options .selectator_option:before, .selectator_options .selectator_option:after {
    content: "";
    display: table;
}
.selectator_options .selectator_option:after {
    clear: both;
}
.selectator_options .selectator_option .selectator_option_left {
    float: left;
    margin: 0 8px 0 12px;
}
.selectator_options .selectator_option .selectator_option_left img {
    height: 30px;
    border-radius: 2px;
}
.selectator_options .selectator_option .selectator_option_title {
    margin-left: 12px;
}
.selectator_options .selectator_option .selectator_option_subtitle {
    font-size: 70%;
    color: rgba(0, 0, 0, 0.5);
    margin-top: -4px;
    margin-bottom: -1px;
    margin-left: 12px;
}
.selectator_options .selectator_option .selectator_option_right {
    float: right;
    color: #434a54;
    font-weight: bold;
    font-size: 80%;
    text-align: center;
    line-height: 16px;
    border-radius: 12px;
    padding: 2px 12px;
    margin-top: 4px;
}
.selectator_options .selectator_option.active {
    background-color: #f5f5f5;
}
.selectator_options .selectator_option.active .selectator_option_subtitle {
    color: rgba(255, 255, 255, 0.6);
}
@keyframes selectator_spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}    
#notify {
    /* display: none; */
    width: 100%;
    /* position: absolute; */
    padding: 12px 30px;
    box-sizing: border-box;
    margin: 0;
    /* top: 95px; */
    border-radius: 0;
}
#notify.alert-danger:before {
    content: '\EF9B';
    font-family: 'remixicon';
    padding-right: 1em;
}
#notify.alert-success:before {
    content: '\EF91';
    font-family: 'remixicon';
    padding-right: 1em;
}
#notify .close {
    position: static;
}

.list-pasien-wrapper_xxx {
    background-color: #fff;
    width: 250px;
    position: fixed;
    top: 50px;
    left: 0;
    bottom: 0;
    z-index: 101;
    -webkit-transition: left .3s ease, width .3s ease;
    transition: left .3s ease, width .3s ease;
    box-shadow: 0 2px 8px rgba(40, 90, 185, .1)
}
