services:
  php74:
    build:
      context: .
      dockerfile: php/Dockerfile-7.4
    container_name: mlite_php74
    volumes:
      - ${HOST_PROJECT_DIR}:/var/www/public
    depends_on:
      - mysql
    networks:
      - app-network
    environment:
      PHP_IDE_CONFIG: serverName=Docker
    restart: unless-stopped

  php80:
    build:
      context: .
      dockerfile: php/Dockerfile-8.0
    container_name: mlite_php80
    volumes:
      - ${HOST_PROJECT_DIR}:/var/www/public
    depends_on:
      - mysql
    networks:
      - app-network
    environment:
      PHP_IDE_CONFIG: serverName=Docker
    restart: unless-stopped

  php81:
    build:
      context: .
      dockerfile: php/Dockerfile-8.1
    container_name: mlite_php81
    volumes:
      - ${HOST_PROJECT_DIR}:/var/www/public
    depends_on:
      - mysql
    networks:
      - app-network
    environment:
      PHP_IDE_CONFIG: serverName=Docker
    restart: unless-stopped

  php82:
    build:
      context: .
      dockerfile: php/Dockerfile-8.2
    container_name: mlite_php82
    volumes:
      - ${HOST_PROJECT_DIR}:/var/www/public
    depends_on:
      - mysql
    networks:
      - app-network
    environment:
      PHP_IDE_CONFIG: serverName=Docker
    restart: unless-stopped

  php83:
    build:
      context: .
      dockerfile: php/Dockerfile
    container_name: mlite_php83
    volumes:
      - ${HOST_PROJECT_DIR}:/var/www/public
    depends_on:
      - mysql
    networks:
      - app-network
    environment:
      PHP_IDE_CONFIG: serverName=Docker
    restart: unless-stopped

  panel:
    build:
      context: ./panel
      dockerfile: Dockerfile
    container_name: mlite_panel
    ports:
      - ${HOST_PROJECT_PORT}:5000
    volumes:
      - ./panel:/app
      - ../:/workspace
      - ./nginx/conf.d:/etc/nginx/conf.d
      - /var/run/docker.sock:/var/run/docker.sock
      - ./docker-compose.yml:/app/docker-compose.yml
    env_file:
      - .env
    environment:
      - NGINX_CONTAINER_NAME=mlite_nginx
      - FLASK_ENV=development
      - FLASK_DEBUG=1
    command: python app.py
    networks:
      - app-network
    restart: unless-stopped

  php56:
    build:
      context: .
      dockerfile: php/Dockerfile-5.6
    platform: linux/amd64
    container_name: mlite_php56
    volumes:
      - ${HOST_PROJECT_DIR}:/var/www/public
    depends_on:
      - mysql
    networks:
      - app-network
    environment:
      PHP_IDE_CONFIG: serverName=Docker
    restart: unless-stopped

  php70:
    build:
      context: .
      dockerfile: php/Dockerfile-7.0
    platform: linux/amd64
    container_name: mlite_php70
    volumes:
      - ${HOST_PROJECT_DIR}:/var/www/public
    depends_on:
      - mysql
    networks:
      - app-network
    environment:
      PHP_IDE_CONFIG: serverName=Docker
    restart: unless-stopped

  php71:
    build:
      context: .
      dockerfile: php/Dockerfile-7.1
    platform: linux/amd64
    container_name: mlite_php71
    volumes:
      - ${HOST_PROJECT_DIR}:/var/www/public
    depends_on:
      - mysql
    networks:
      - app-network
    environment:
      PHP_IDE_CONFIG: serverName=Docker
    restart: unless-stopped

  php72:
    build:
      context: .
      dockerfile: php/Dockerfile-7.2
    platform: linux/amd64
    container_name: mlite_php72
    volumes:
      - ${HOST_PROJECT_DIR}:/var/www/public
    depends_on:
      - mysql
    networks:
      - app-network
    environment:
      PHP_IDE_CONFIG: serverName=Docker
    restart: unless-stopped

  php73:
    build:
      context: .
      dockerfile: php/Dockerfile-7.3
    platform: linux/amd64
    container_name: mlite_php73
    volumes:
      - ${HOST_PROJECT_DIR}:/var/www/public
    depends_on:
      - mysql
    networks:
      - app-network
    environment:
      PHP_IDE_CONFIG: serverName=Docker
    restart: unless-stopped

  nginx:
    image: nginx:latest
    container_name: mlite_nginx
    ports:
      - "80:80"
      - "8080:8080"
    volumes:
      - ${HOST_PROJECT_DIR}:/var/www/public
      - ./nginx/conf.d:/etc/nginx/conf.d
    depends_on:
      - php56
      - php70
      - php71
      - php72
      - php73
      - php74
      - php80
      - php81
      - php82
      - php83
      - panel
    networks:
      - app-network
    restart: unless-stopped

  mysql:
    image: mysql:8.0
    container_name: mlite_mysql
    restart: always
    environment:
      MYSQL_ALLOW_EMPTY_PASSWORD: true
      MYSQL_DATABASE: mlite
    ports:
      - "3308:3306"
    volumes:
      - ./mysql:/var/lib/mysql
      - ../mlite_db.sql:/docker-entrypoint-initdb.d/00-mlite_db.sql
      - ./db:/docker-entrypoint-initdb.d/01-custom
    networks:
      - app-network

  orthanc:
    build:
      context: .
      dockerfile: orthanc/Dockerfile
    container_name: mlite_orthanc
    restart: unless-stopped
    ports:
      - "8042:8042"
      - "4242:4242"
    volumes:
      - ./orthanc/orthanc-db:/var/lib/orthanc/db
      - ./orthanc/orthanc.json:/etc/orthanc/orthanc.json:ro
    environment:
      - ORTHANC_NAME=Orthanc-Headless
    networks:
      - app-network


networks:
  app-network:
    driver: bridge
