th, td {
  white-space: nowrap;
}
.nav-tabs {
  overflow-x: auto;
  overflow-y: hidden;
  display: -webkit-box;
  display: -moz-box;
}
.nav-tabs>li {
  float: none;
}
.card {
  background: #fff;
  min-height: 50px;
  position: relative;
  margin-bottom: 30px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
}
.card .body {
  font-size: 14px;
  color: #555;
  padding: 20px;
}
.card .header {
  color: #555;
  padding: 20px;
  position: relative;
  border-bottom: 1px solid rgba(204, 204, 204, 0.35);
}
.card .header h2 {
  margin: 0;
  font-size: 18px;
  font-weight: normal;
  color: #111;
}

/* Profile Page ================================ */
.profile-card .profile-body .image-area {
  text-align: left;
}
.profile-card .profile-body .image-area img {
  border: 2px solid #4C9A2A;
  padding: 2px;
  margin: 15px 5px;
}
.profile-card .profile-body .content-area {
  text-align: left;
  padding: 15px 0;
}
.profile-card .profile-body .content-area p {
  margin-bottom: 0;
}
.profile-card .profile-body .content-area p:last-child {
  font-weight: 600;
  color: #ad1455;
  margin-top: 5px;
}
.profile-card .profile-footer {
  padding: 15px;
}
.profile-card .profile-footer ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.profile-card .profile-footer ul li {
  border-bottom: 1px solid #eee;
  padding: 10px 0;
}
.profile-card .profile-footer ul li:last-child {
  border-bottom: none;
  margin-bottom: 15px;
}
.profile-card .profile-footer ul li span:first-child {
  font-weight: bold;
}
.profile-card .profile-footer ul li span:last-child {
  float: right;
}
.card-about-me .body ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.card-about-me .body ul li {
  border-bottom: 1px solid #eee;
  margin-bottom: 10px;
  padding-bottom: 15px;
}
.card-about-me .body ul li:last-child {
  border: none;
  margin-bottom: 0;
  padding-bottom: 0;
}
.card-about-me .body ul li .title {
  font-weight: bold;
  color: #666;
}
.card-about-me .body ul li .title i {
  margin-right: 2px;
  position: relative;
  top: 0px;
}
.card-about-me .body ul li .content {
  margin-top: 10px;
  color: #999;
  font-size: 13px;
}
.panel-post {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
}
.panel-post .panel-heading {
  background-color: #fff;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
}
.panel-post .panel-heading .media {
  margin-bottom: 0;
}
.panel-post .panel-heading .media a img {
  width: 42px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.panel-post .panel-heading .media .media-body {
  padding-top: 5px;
}
.panel-post .panel-heading .media .media-body h4 {
  font-size: 14px;
}
.panel-post .panel-heading .media .media-body h4 a {
  color: #666;
}
.panel-post .panel-body {
  padding: 0;
}
.panel-post .panel-body .post .post-heading {
  padding: 12px 15px;
}
.panel-post .panel-body .post .post-heading p {
  margin-bottom: 0;
}
.panel-post .panel-body .post .post-content {
  padding: 12px 15px;
}
.panel-post .panel-body .post .post-content .assessment-title {
  font-size: 14px;
}
.panel-post .panel-body .post .post-content ul {
  padding-left: 10px;
  margin-left: 15px;
}
.panel-post .panel-body .post .post-content ul li {
  list-style: bullet;
}
.panel-post .panel-body .post .post-content p {
  margin-bottom: 0;
}
.panel-post .panel-footer {
  background-color: #fff;
  border: none;
}
.panel-post .panel-footer ul {
  margin: 0;
  padding: 0;
  padding-bottom: 5px;
  border-bottom: #eee solid 1px;
  list-style: none;
}
.panel-post .panel-footer ul li {
  display: inline-block;
  margin-right: 12px;
}
.panel-post .panel-footer ul li:last-child {
  float: right;
  margin-right: 0;
}
.panel-post .panel-footer ul li a {
  color: #777;
  text-decoration: none;
}
.panel-post .panel-footer ul li a i {
  font-size: 16px;
  position: relative;
  top: 4px;
  margin-right: 2px;
}
.panel-post .panel-footer ul li a span {
  font-size: 13px;
}
.panel-post .panel-footer .form-group {
  margin-bottom: 5px;
  margin-top: 20px;
}

.separator {
    display: flex;
    align-items: center;
    text-align: center;
}
.separator::before, .separator::after {
    content: '';
    flex: 1;
    border-bottom: 2px solid #ddd;
}
.separator::before {
    margin-right: .25em;
}
.separator::after {
    margin-left: .25em;
}
