/* --------------------------------------
=========================================
Flat Vault - Multipurpose Landing Page
Version: 1.0
Designed By: CreativeCary
=========================================
-----------------------------------------

1. GLOABL-CSS
	1.1 GENERAL-CSS
	1.2 TYPOGRAPHY

2. MASTER COLOR SETTINGS (TO CHANGE ENTIRE THEME)
	2.1 BACKGROUND COLOR SETTINGS
	2.2 BORDER COLOR SETTINGS
	2.3 TEXT COLOR SETTINGS

3. PRELOADER
	3.1 LOADING
	3.2 LOADING ANIMATION

4. SECTIONS-CSS
	4.1 SECTION WHITE
	4.2 SECTION RED

5. HEADER-SECTION
	5.1 HEADER LEFT
	5.2 HEADER RIGHT

6. ADVERTISED-SECTION
	6.1 BASIC STYLE
	6.2 ARROW LEFT AND DOWN

7. FEATURE-SECTION
	7.1 BASIC STYLE
	7.2 FEATURE LIST
	7.3 PHONE IMAGE

8. DESIGNE-SECTION

9. BENIFITS-SECTION

10. CLIENT-SECTION

11. PRICE-SECTION
	11.1 BASIC STYLE
	11.2 PRICE COLUMN
	11.3 PRICE RED COLUMN

12. SUBSCRIBE-SECTION
	12.1 BASIC STYLE
	12.2 NEWSLETTER
	12.3 SOCIAL MEDIA

13. FOOTER-SECTION

14. RESPONSIVE FIXES
	14.1 FOR MAXIMUM WIDTH 992PX
	14.2 FOR MAXIMUM WIDTH 768PX
	14.3 FOR MAXIMUM WIDTH 380PX


-----------------------------------------*/

/* --------------------------------------
=========================================
   1. GLOABL - CSS
=========================================
-----------------------------------------*/

/*---------------------------------------
   1.1 IMPORT GOOGLE WEBFONT
-----------------------------------------*/

@import url(//fonts.googleapis.com/css?family=Lato:300,400,700);


/*---------------------------------------
   1.2 GENERAL - CSS
-----------------------------------------*/

body {
	background: #eeeff1;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px; /* PIXEL FALLBACK */
	font-size: 1.6rem;
	line-height: 1.5;
	color: #8f96a9;
}

button {
	color: #fff;
	font-size: 18px;
	line-height: 50px;
	text-align: center;
	width: 250px;
	border:none;
}

button:hover {
	background: #d65348;
}
iframe{
	border:none;
	}

/*---------------------------------------
   1.3 TYPOGRAPHY
-----------------------------------------*/

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'lato', sans-serif;
	color: #474c56;
}

h1 {
	font-size: 48px; /* PIXEL FALLBACK */
	font-size: 4.8rem;
}

h2 {
	font-size: 36px; /* PIXEL FALLBACK */
	font-size: 3.6rem;
	font-weight:bold;
	margin-top:0;
}

h3 {
	font-size: 22px; /* PIXEL FALLBACK */
	font-size: 2.2rem;
	font-weight: bold;
}
h4 {
	font-size: 26px; /* PIXEL FALLBACK */
	font-size: 2.6rem;
	font-weight: bold;
	text-transform:uppercase;
}

/* --------------------------------------
=========================================
   2. MASTER COLOR SETTINGS
=========================================
-----------------------------------------*/

/*---------------------------------------
   2.1 BACKGROUND COLOR SETTINGS
-----------------------------------------*/
#object,
h2.form-title,
button,
.submit-btn,
.red-bg,
.separator.red,
.newsletter-button,
ul.social-icons li a,
ul.menu-icons li a{
	background:#e2574c;
	}

button:hover,
.submit-btn:hover,
.newsletter-button:hover,
ul.social-icons li a:hover,
ul.menu-icons li a:hover{
	background:#d65348;
	}

/*---------------------------------------
   2.2 BORDER COLOR SETTINGS
-----------------------------------------*/
.logo img {
    border-color: #e2574c;
}
.verticle-line{
	  border-color: #e2574c !important;
}
.arrow-left{
	  	border-left:10px solid #e2574c !important;
}
.arrow-down{
	border-top: 25px solid #e2574c !important;
}

/*---------------------------------------
   2.3 TEXT COLOR SETTINGS
-----------------------------------------*/

.price-circle span,
 a{
	color: #e2574c;
}

a:hover {
	color: #d65348;
}

/* --------------------------------------
=========================================
   3. PRELOADER
=========================================
-----------------------------------------*/

/*---------------------------------------
   3.1 LOADING
-----------------------------------------*/

#loading{
	background:#eeeff1;
	height: 100%;
	width: 100%;
	position: fixed;
	z-index: 1;
	margin-top: 0px;
	top: 0px;
}
#loading-center{
	width: 100%;
	height: 100%;
	position: relative;
}
#loading-center-absolute {
	position: absolute;
	left: 50%;
	top: 50%;
	height: 200px;
	width: 200px;
	margin-top: -100px;
	margin-left: -100px;
}
#object{
	width: 30px;
	height: 30px;
	-webkit-animation: animate 1s infinite ease-in-out;
	animation: animate 1s infinite ease-in-out;
	margin-right: auto;
	margin-left: auto;
	margin-top: 60px;
}

/*---------------------------------------
   3.2 LOADING ANIMATION
-----------------------------------------*/

@-webkit-keyframes animate {
  0% { -webkit-transform: perspective(160px); }
  50% { -webkit-transform: perspective(160px) rotateY(-180deg); }
  100% { -webkit-transform: perspective(160px) rotateY(-180deg) rotateX(-180deg); }
}

@keyframes animate {
  0% {
    transform: perspective(160px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(160px) rotateX(0deg) rotateY(0deg);
  } 50% {
    transform: perspective(160px) rotateX(-180deg) rotateY(0deg);
    -webkit-transform: perspective(160px) rotateX(-180deg) rotateY(0deg) ;
  } 100% {
    transform: perspective(160px) rotateX(-180deg) rotateY(-180deg);
    -webkit-transform: perspective(160px) rotateX(-180deg) rotateY(-180deg);
  }
}


/* --------------------------------------
=========================================
   4. SECTIONS-CSS
=========================================
-----------------------------------------*/

/*---------------------------------------
   4.1 SECTION WHITE
-----------------------------------------*/

section{
	margin-top:30px;
	text-align:center;
	}

.white-bg {
	width:100%;
	background: #fff;
	padding-top:50px;
	padding-bottom:50px;
	float:left;
}

.separator {
	background: #fff;
	display: inline-block;
	height: 4px;
	margin-top: 21px;
	width: 80px;
}

section p {
	color: #8f96a9;
	margin: 23px 0 0;
}

/*---------------------------------------
   4.2 SECTION RED
-----------------------------------------*/

.red-bg {
	width:100%;
	padding-top:50px;
	padding-bottom:50px;
	float:left;
}

.red-bg h2 {
	color:#FFFFFF;
	font-size: 36px; /* PIXEL FALLBACK */
	font-size:3.6rem;
	font-weight: bold;
}
.red-bg p {
	color: #fff;
}


/* --------------------------------------
=========================================
   5. HEADER-SECTION
=========================================
-----------------------------------------*/
.jumbotron {
	background: #222;
	min-height: 630px;
	margin-bottom:0;
}

/*---------------------------------------
   5.1 HEADER LEFT
-----------------------------------------*/

.verticle-line {
	border-left: 4px solid;
	border-color:#FF0000;
	margin: 91px 0 0;
	padding: 0 0 0 19px;
}

.jumbotron {
	text-align:left;
}
.logo{
	padding-top:20px;
	}
.social-icons-align{
	text-align:right;
	}
.menu-icons-align{
	text-align:right;
	}
.jumbotron h1 {
	font-size: 48px; /* PIXEL FALLBACK */
	font-size: 4.8rem;
	color: #fff;
	margin-top:91px;
}
.jumbotron h1 span {
	width:380px;
	text-align:right;
}
.jumbotron h2 {
	font-size:36px; /* PIXEL FALLBACK */
	font-size:3.6rem;
	font-weight:normal;
        text-transform:none !important;
	color: #fff;
	margin-bottom:10px;
}

.jumbotron p {
	color: #fff;
	font-size: 18px; /* PIXEL FALLBACK */
	font-size: 1.8rem;
	margin: 25px 0;
}

button.view-detail  {
	width: 150px;
}

/*---------------------------------------
   5.2 HEADER RIGHT
-----------------------------------------*/

iframe {
	width: 100%;
	height: 315px;
	margin-top:88px;
	border-top: 4px solid;
	border-color:#e2574c;
}

/* --------------------------------------
=========================================
   8. DESIGN-SECTION
=========================================
-----------------------------------------*/
.laptop-img {
	margin-top: 20px;
	position: relative;
}

.slider {
	height: 306px;
	left: 77px;
	margin: auto;
	position: absolute;
	right: 0;
	top: 38px;
	width: 482px;
	z-index: 0;
}
.carousel-control.left {
    background-image:none;
}
.carousel-control.right {
    background-image:none;
}
/* --------------------------------------
=========================================
   9. BENIFITS-SECTION
=========================================
-----------------------------------------*/
.benifit-icon{
	margin: 30px 0 0;
	text-align: center;
}

/* --------------------------------------
=========================================
   12. SUBSCRIBE-SECTION
=========================================
-----------------------------------------*/

/*---------------------------------------
   12.1 BASIC STYLE
-----------------------------------------*/
#subscribe-bg {
	background: #243842;
	padding:50px 0;
}

#subscribe-bg h2 {
	color: #fff;
}

#subscribe-bg p {
	color: #fff;
}

/*---------------------------------------
   12.2 NEWSLETTER
-----------------------------------------*/
.newsletter {
	display: inline-block;
	margin: 28px 0;
	width: 635px;
}

.newsletter-input {
	float: left;
	border: none;
	background: #fff;
	padding: 0;
	height: 50px;
	padding: 0 10px;
	width: 76%;
	color: #8f96a9;
	font-size: 14px;
}

.newsletter-button {
	font-size: 15px;
	color: #fff;
	border: none;
	width: 24%;
	height: 50px;
	float: right;
}

.newsletter-button:hover {
	background: #d65348;
}

#newsletter-error {
	background:#e2574c;
	color:#fff;
	padding:15px;
	margin-bottom:20px;
	display:none;
}


#newsletter-success {
	background:#42b089;
	color:#fff;
	padding:15px;
	margin-bottom:20px;
	display:none;
}

/*---------------------------------------
   12.3 SOCIAL MEDIA
-----------------------------------------*/

.social {
	width: 100%;
	float: left;
}

.social p {
	color: #fff;
	width: 100%;
}

ul.social-icons {
	display: inline-block;
	padding: 0px;
	margin-top:10px;
}

ul.social-icons li {
	display: inline-block;
	list-style: none;
	margin: 0 10px;
}

ul.social-icons li a {
	float: left;
	height: 40px;
	width: 40px;
}

ul.menu-icons {
	display: inline-block;
	padding: 0px;
	margin-top:10px;
}

ul.menu-icons li {
	display: inline-block;
	list-style: none;
	margin: 0 10px;
}

ul.menu-icons li a {
	float: left;
	height: 40px;
	width: 120px;
}
/* --------------------------------------
=========================================
   13. FOOTER-SECTION
=========================================
-----------------------------------------*/
.copyright-section {
	background: #17262d;
	height: 100px;
}

.copyright-section p {
	width: 100%;
	padding-top:45px;
	text-align: center;
	font-size: 14px;
	color: #fff;
	margin: 0px;
}


/* --------------------------------------
=========================================
   14. RESPONSIVE FIXES
=========================================
-----------------------------------------*/

/*---------------------------------------
   14.1 FOR MAXIMUM WIDTH 992PX
-----------------------------------------*/

@media (max-width: 993px) {


.jumbotron {
    min-height: 640px;
	padding-bottom:50px;
	text-align:center;
}

.logo {
	text-align:center;
}

.logo img {
	padding: 0 0 25px;
}

.menu-icons-align{
	text-align:center;
	}

.jumbotron h1 {
    margin-top: 48px;
}

.social-icons-align{
	text-align:center;
	}

iframe {
    margin-top: 50px;
}

.jumbotron .verticle-line {
	border: none;
	margin: 25px 0 0;
	padding: 0;
}

.jumbotron p {
	padding: 0;
}

button.view-detail {
	width: 100%;
}

.arrow-down {
	left:42%;
}

.detail-btn {
	margin: 0 0 50px;
}

.col-md-3 .advertised {
	margin:20px 0;
}

.arrow-left{
	display:none;
}

.arrow-down-2 {
	display:block;
}

.features-holder {
	margin: 0;
	padding: 30px 10px 0;
}

.phone-img {
	margin-top: 30px;
	text-align: center;
}

.phone-img img {
	max-width: 270px;
	width: 90%;
}

.laptop-img > img {
	display: none;
}

.slider {
	top: 11px;
  left: 0;
	position: relative;
}

#benifits-holder p {
	padding: 13px 15px 0;
}

.client-img {
	margin: 0;
	text-align: center;
	width: 100%;
	float:none;
}

.client-img > img {
	border-bottom: 4px solid #fff;
	padding: 0 0 25px;
}

.client-saying {
	border-left: 0 none;
	margin: 0;
	padding: 20px 10px 0;
	width: 100%;
	text-align: center;
	float:none;
}

.price-btn {
	width: 90%;
}

.price-bg{
	margin:10px 0;
	}

.newsletter {
	width: 100%;
}
}

/*---------------------------------------
   14.2 FOR MAXIMUM WIDTH 768PX
-----------------------------------------*/

@media(max-width:769px) {

}

/*---------------------------------------
   14.2 FOR MAXIMUM WIDTH 480PX
-----------------------------------------*/

@media(max-width:480px) {

.jumbotron h1 span {
	width:auto;
	text-align:center;
}
.newsletter-input {
	width: 66%;
}

.newsletter-button {
	width: 34%;
}

.slider {
	top: 11px;
  left: 0;
	position: relative;
  max-height: 100%;
	margin: auto;
	right: 0;
	width: 100%;
	z-index: 0;

}

}
/*---------------------------------------
   14.3 FOR MAXIMUM WIDTH 380PX
-----------------------------------------*/

@media(max-width:381px) {

.arrow-down {
	left:38%;
}

.copyright-section p {
	padding-top:35px;
}

}

h2 {
    font-family: Arial, Verdana;
    font-weight: 800;
    font-size: 2.5rem;
    color: #091f2f;
    text-transform: uppercase;
}
.accordion-section .panel-default > .panel-heading {
    border: 0;
    background: #f4f4f4;
    padding: 0;
}
.accordion-section .panel-default .panel-title a {
    display: block;
    font-style: italic;
    font-size: 1.5rem;
}
.accordion-section .panel-default .panel-title a:after {
    font-family: 'FontAwesome';
    font-style: normal;
    font-size: 3rem;
    content: "\f106";
    color: #1f7de2;
    float: right;
    margin-top: -12px;
}
.accordion-section .panel-default .panel-title a.collapsed:after {
    content: "\f107";
}
.accordion-section .panel-default .panel-body {
    font-size: 1.2rem;
}

.cloud {
  display: inline;
  list-style-type: none;
}
.cloud li {
  list-style: none;
  display: inline;
  padding: 0;
  margin: 0;
}

.cloud li:nth-of-type(3n + 1) {
  font-size: 1.25em;
  color: #3c763d;
}
.cloud li:nth-of-type(4n + 3) {
  font-size: 1.5em;
  color: #a94442;
}
.cloud li:nth-of-type(5n - 3) {
  font-size: 1em;
  color: #286090;
}
.cloud li:nth-of-type(6n - 1) {
  font-size: 0.75em;
}
