@charset "utf-8";

.container-userwall{
    width:100%;
    margin:0px auto;
}

a, a:visited{
    color:#3B5998;
    text-decoration:none;
}

a:hover, a:focus{
    text-decoration:underline;
}

img{
  vertical-align:top;
}

/* Types */

p{
    margin:0 0 15px 0;
}

h4{
  margin:0;
  padding:0;
}


textarea{
  border:none;
  width:100%;
  padding:0;
  font-size:13px;
}

/*
 * Contain floats: h5bp.com/q
 */

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

.ajax_indi { text-align:right; float:right; margin-top:-5px; margin-right:5px; display:none; }
