div.activity-comments {
	position: relative;
	margin: 0px;
	width: auto;
	overflow: hidden; /* IE fix */
	margin-bottom:15px;
}

div.activity-comments > ul {
	background: #EDEFF4;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	padding: 0 10px 0;
}
div.activity-comments ul, div.activity-comments ul li {
	border: none;
	list-style: none;
}

	div.activity-comments ul {
		clear: left;
	}

	div.activity-comments ul li {
		border-top: 1px solid #fff;
		padding: 5px 0 0;
	}
	div.activity-comments ul li.show-all, div.activity-comments ul li.like-all {
		padding: 5px 0 5px 0;
		border-top:none;
	}
		body.activity-permalink div.activity-comments ul li {
			border-width: 1px;
			padding: 10px 0 0;
		}

		div.activity-comments ul li p:last-child {
			margin-bottom: 10px;
		}

		div.activity-comments > ul > li:first-child {
			border-top: none;
		}

		div.activity-comments ul li:last-child {
			margin-bottom: 0;
		}

	div.activity-comments ul li > ul {
		margin-top: 0;
		margin-left: 20px;
	}
		body.activity-permalink div.activity-comments ul li > ul {
			margin-top: 15px;
		}

	div.activity-comments div.acomment-avatar img {
		border-width: 2px !important;
		float: left;
		margin-right: 10px;
		width:30px;
		height:30px;
	}

	div.activity-comments div.acomment-content {
		font-size: 11px;
		margin-left: 39px;
		margin-top: 5px;
	}
		div.acomment-content .time-since { display: none; }
		div.acomment-content .activity-delete-link { display: none; }
		div.acomment-content .comment-header { display: none; }

		body.activity-permalink div.activity-comments div.acomment-content {
			font-size: 14px;
		}
	a.acomment-delete {
	float:right;
	margin-right:2px;
	color:#666;
	}

	div.activity-comments div.acomment-meta {
		font-size: 11px;
		color: #888;
	}
	div.activity-comments div.acomment-meta a{
	color:#336699;
	}

	div.activity-comments form.ac-form {
	display:none;
		margin: 5px 0 5px 0px;
		background: #fafafa;
		border: 1px solid #ddd;
		-moz-border-radius: 4px;
		-webkit-border-radius: 4px;
		border-radius: 4px;
		padding: 4px;
	}
		div.activity-comments li form.ac-form {
			margin-right: 15px;
		}

		div.activity-comments form.root {
			margin-left: 0;
		}

		div.activity-comments div#message {
			margin-top: 15px;
			margin-bottom: 0;
		}
		div.activity-comments form .ac-textarea {
			padding: 4px;
			margin-bottom: 4px;
			-moz-border-radius: 3px;
			-webkit-border-radius: 3px;
			border-radius: 3px;
		}
			div.activity-comments form textarea {
				width: 100%;
				font-family: inherit;
				font-size: 12px;
				color: #555;
				height: 20px;
				border: none;
				padding: 0;
			}
			div.activity-comments form textarea.ac-input {
				border:1px solid #f1f1f1;
				padding:0;
			}
				div.activity-comments form input {
					margin-top: 5px;
				}

		div.activity-comments form div.ac-reply-avatar {
			float: left;
			width:30px;
			height:30px;
		}
			div.ac-reply-avatar img {
				border: 2px solid #f1f1f1; margin-top:4px;
			}

		div.activity-comments form div.ac-reply-content {
			margin-left: 30px;
			padding-left: 5px;
			color: #888;
			font-size: 11px;
		}
img.avatar {
	float: left;
	border: 2px solid #eee;
}

li.show-all {
background:url(../images/comments_icon.png) no-repeat left 8px;
background-color: transparent;
padding-top:0;
font-size:11px;
}
li.show-all a{
padding-left:20px;
padding-top:0;
font-size:11px;
}
li.like-all {
background:url(../images/like-icon.png) no-repeat left 8px;
background-color: transparent;
padding-top:0;
font-size:11px;
}
li.like-all a{
padding-left:20px;
padding-top:0;
font-size:11px;
}

a.acomment-reply {
padding:4px;
color:#444;
border:1px solid #EDEFF4;
cursor:pointer;
display:block;
font-size:12px;
}
a.acomment-reply:hover {
text-decoration:none;
}