@charset "UTF-8";

html {
    height: 100%;
}
body {
    padding-bottom: 30px;
    position: relative;
    min-height: 100%;
    margin-bottom: 100px;
}
td a {
  font-weight: bold;
}
a, .btn {
    transition: background 0.2s, color 0.2s;
}
    a:hover,
    a:focus {
        text-decoration: none;
    }
input:focus {
  border: 1px solid #222;
}

.input-group .form-control, .input-group .input-group-btn {
    z-index: 0 !important;
}

/* 1. MAIN WRAPPER
--------------------------------------------------------- */
#wrapper {
    padding-left: 0;
    transition: all 0.5s ease;
    position: relative;
}

/* 3. NAVBAR
--------------------------------------------------------- */
#navbar-wrapper {
    width: 100%;
    position: absolute;
    z-index: 2;
}
    #navbar-wrapper .navbar {
        padding: 5px 15px;
        border-width: 0 0 0 0;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
        font-size: 24px;
        margin-bottom: 0;
    }
        #navbar-wrapper .navbar .navbar-header {
            float: left;
            padding-top: 10px;
        }
            #navbar-wrapper .navbar .navbar-header .navbar-brand {
                font-size: 24px;
                float: right;
                margin: 0;
                padding: 6px 0 0 15px;
            }

            #navbar-wrapper .navbar .navbar-header .navbar-brand .first {
                font-weight: bold;
            }

        #navbar-wrapper .navbar ul.navbar-nav {
            float: right;
        }
            #navbar-wrapper .navbar ul.navbar-nav li {
                float: left;
            }
                #navbar-wrapper .navbar ul.navbar-nav li:not(.hello) a {
                }
                    #navbar-wrapper .navbar ul.navbar-nav li:not(.hello) a:hover {
                        color: #656565;
                    }
                #navbar-wrapper .navbar ul.navbar-nav li.hello a {
                    pointer-events: none;
                }
                    #navbar-wrapper .navbar ul.navbar-nav li.hello a span {
                        font-size: 70%;
                        position: relative;
                        bottom: 2px;
                    }

                    .dropdown-submenu {
                      position: relative;
                    }

                    .dropdown-submenu>.dropdown-menu {
                      top: 0;
                      left: 100%;
                      margin-top: -6px;
                      margin-left: -1px;
                    }

                    .dropdown-submenu:hover>.dropdown-menu {
                      display: block;
                    }

                    .dropdown-submenu>a:after {
                      display: block;
                      content: " ";
                      float: right;
                      width: 0;
                      height: 0;
                      border-color: transparent;
                      border-style: solid;
                      border-width: 5px 0 5px 5px;
                      border-left-color: #ccc;
                      margin-top: 5px;
                      margin-right: -10px;
                    }

                    .dropdown-submenu:hover>a:after {
                      border-left-color: #000;
                    }

                    .dropdown-submenu.pull-left {
                      float: none;
                    }

                    .dropdown-submenu.pull-left>.dropdown-menu {
                      left: -100%;
                      margin-left: 10px;
                    }
/* 4. CONTENT
--------------------------------------------------------- */
#content-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 60px 0px 0px 0px;
    margin-bottom: 0px;
}
.content-title {
    margin: 20px 0 30px 0;
}
h3.panel-title {
    font-weight: 400;
}
    h3.panel-title .btn {
        color: #fff;
    }
.panel-heading {
    position: relative;
}
.panel-heading .nav-tabs {
    position: absolute;
    bottom: 0;
    right: 13px;
    border-bottom: 0;
}
    .panel-heading .nav-tabs > li a {
        padding: 5px 10px;
        margin-left: 2px;
    }
    .panel-heading .nav-tabs > li.active a {
        border-bottom: 1px solid #fff;
        background-color: #fff;
        color: #616262;
    }

.table-responsive {
 border:0px solid #ddd;
}

#notify {
    display: none;
    width: 100%;
    position: absolute;
    padding: 12px 30px;
    box-sizing: border-box;
    margin: 0;
    top: 75px;
    border-radius: 0;
}
    #notify.alert-danger:before {
        content: '\f071';
        font-family: 'FontAwesome';
        padding-right: 1em;
    }
    #notify.alert-success:before {
        content: '\f00c';
        font-family: 'FontAwesome';
        padding-right: 1em;
    }
    #notify .close {
        position: static;
    }


/* 5. FOOTER
--------------------------------------------------------- */
footer {
    position: fixed;
    right: 0px;
    bottom: 0px;
    height: 20px;
    width: calc(100% - 0px);
    font-size: 14px;
}
footer a, footer a:hover {
  color: #fff;
}

/* 6. LOGIN
--------------------------------------------------------- */
#login {
    width: 90%;
    max-width: 420px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform:          translate(-50%, -50%);
    -webkit-transform:  translate(-50%, -50%);
}
    #login .panel {
        border: 0;
        box-shadow: none;
        background: none;
    }

    #login .panel-heading {
        background-color: #222;
        text-align: center;
        border: 0;
        margin-top: -1px;
    }
        #login .panel-heading img {
            height: 150px;
            width: auto;
            display: block;
            vertical-align: middle;
            margin: 0 auto;
        }
        #login .panel-heading h2 {
            font-weight: 600;
            display: inline-block;
            vertical-align: middle;
            margin-top: 10px;
            margin-bottom: 10px;
            font-size: 32px;
        }
            #login .panel-heading h2 span {
                color: #FFF;
            }

    #login .panel-body {
        background: #FFF;
    }
        #login .panel-body .remember-me {
            margin-top: 8px;
            font-weight: 400;
            font-size: 14px;
        }

    #login #notify {
        display: block;
        position: static;
        width: 100%;
        display: block;
        margin-top: 20px;
        text-align: center;
    }
    #login .fa-lock {
        padding: 0 1px 0 1px;
    }

/* 7. CUSTOM CHECKBOXES & RADIO BUTTONS
--------------------------------------------------------- */
.toggle,
.toggleR {
    position: relative;
    background: #fff;
    border: 1px solid #ccc;
    display: inline-block;
    vertical-align: middle;
    width: 18px;
    height: 18px;
    padding: 2px;
    margin-right: 5px;
}
    .toggle.checked:after {
        content: '\2713';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-weight: bold;
    }
.toggleR {
    border-radius: 50%;
}
    .toggleR.checked:after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 10px;
        height: 10px;
        margin: -5px 0 0 -5px;
        background-color: #222;
        border-radius: 50%;
    }
.toggle.disabled,
.toggleR.disabled {
    opacity: .7;
}
.checkbox .toggle,
.checkbox-inline .toggle,
.radio .toggleR,
.radio-inline .toggleR {
    margin-left: -20px;
}

/* 8. CUSTOM SELECTORS
--------------------------------------------------------- */
#selectator_dimmer {
    background-color: rgba(0, 0, 0, 0);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    z-index: 100;
}
.selectator_element {
    width: 100%;
    border: 1px solid #ccc;
    box-sizing: border-box;
    background-color: #fff;
    display: inline-block;
    text-decoration: none;
    vertical-align: middle;
    box-shadow: inset 0 1px 1px rgba(0,102,0,.075);
}
.selectator_element * {
    box-sizing: border-box;
    text-decoration: none;
}
.selectator_element img {
    display: block;
}
.selectator_element.disabled {
    background-color: #f5f5f5;
    cursor: not-allowed;
}
.selectator_element.disabled * {
    cursor: not-allowed !important;
}
.selectator_element.multiple {
    padding: 4px 20px 4px 12px !important;
}
.selectator_element.single {
    height: 39px;
    padding: 9px 12px !important;
}
.selectator_element.focused {
    border: 1px solid #222;
    box-shadow: inset 0 1px 1px rgba(0,102,0,.075), 0 0 8px rgba(0, 51, 0, 0.6);
}
.selectator_element:after {
    position: absolute;
    content: '\25BC';
    font-size: 70%;
    transform: scaleY(0.75);
    right: 4px;
    color: #434a54;
    top: 50%;
    line-height: 0;
}
.selectator_element.loading:before {
    border: 3px solid rgba(0, 0, 0, 0.1);
    border-top: 3px solid rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    width: 14px;
    line-height: 0;
    height: 14px;
    margin-top: -10px;
    animation: selectator_spinner 500ms linear infinite;
    content: '';
    position: absolute;
    right: 20px;
    top: 50%;
}

.selectator_selected_items .selectator_placeholder {
    font-size: 80%;
    color: rgba(0, 0, 0, 0.5);
}
.single .selectator_selected_items {
    display: block;
}
.multiple .selectator_selected_items {
    display: inline;
}
.selectator_selected_items .selectator_selected_item {
    color: rgba(0, 0, 0, 0.75);
    position: relative;
    vertical-align: top;
}
.single .selectator_selected_items .selectator_selected_item {
    background-color: transparent;
    display: block;
    margin: 0;
    padding: 0;
    font-size: inherit;
    text-decoration: none;
}
.multiple .selectator_selected_items .selectator_selected_item {
    background-color: #f5f5f5;
    display: inline-block;
    margin: 2.5px 5px 2.5px 0;
    padding: 0 20px 0 5px;
    font-size: 80%;
    border: 1px solid #ccc;
    line-height: 22px;
}
.selectator_selected_items .selectator_selected_item .selectator_selected_item_left {
    float: left;
}
.single .selectator_selected_items .selectator_selected_item .selectator_selected_item_left {
    float: left;
    width: 30px;
}
.single .selectator_selected_items .selectator_selected_item .selectator_selected_item_left img {
    height: 22px;
}
.multiple .selectator_selected_items .selectator_selected_item .selectator_selected_item_left {
    float: left;
    width: 22px;
}
.multiple .selectator_selected_items .selectator_selected_item .selectator_selected_item_left img {
    height: 18px;
}
.single .selectator_selected_items .selectator_selected_item .selectator_selected_item_title {
    height: auto;
    line-height: 1.3;
}
.multiple .selectator_selected_items .selectator_selected_item .selectator_selected_item_title {
    float: left;
    font-weight: 700;
}
.selectator_selected_items .selectator_selected_item .selectator_selected_item_subtitle {
    display: none;
}
.single .selectator_selected_items .selectator_selected_item .selectator_selected_item_right {
    float: right;
    background-color: #ac6;
    color: #fff;
    font-weight: bold;
    font-size: 80%;
    text-align: center;
    line-height: 16px;
    border-radius: 12px;
    padding: 2px 12px;
    margin-right: 40px;
}
.multiple .selectator_selected_items .selectator_selected_item .selectator_selected_item_right {
    display: none;
}
.single .selectator_selected_items .selectator_selected_item .selectator_selected_item_remove {
    display: block;
    position: absolute;
    right: 16px;
    cursor: pointer;
    font-size: 75%;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.75);
    padding: 2px;
    line-height: 0;
    top: 50%;
    transform: scaleX(1.2);
}
.multiple .selectator_selected_items .selectator_selected_item .selectator_selected_item_remove {
    display: inline-block;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.75);
    margin: 0 0 0 5px;
    cursor: pointer;
    font-size: 100%;
    font-weight: 700;
    line-height: 22px;
    vertical-align: top;
    border-radius: 0 2px 2px 0;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 0 5px 0 5px;
}
.multiple .selectator_selected_items .selectator_selected_item .selectator_selected_item_remove:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.selectator_input, .selectator_textlength {
    border: 0;
    display: inline-block;
    margin: 0;
    background-color: transparent;
    font-size: 13px;
    outline: none;
}
.multiple .selectator_input, .multiple .selectator_textlength {
    padding: 3px 0 0 0;
    margin: 3px 0 2px 5px;
}
.single .selectator_input {
    border: 1px solid #ccc;
    position: absolute;
    bottom: -41px;
    left: -1px;
    z-index: 101;
    padding: 9px 12px;
    width: 100%;
    width: calc(100% + 2px);
    border-bottom: 0;
    background-color: #f5f5f5;
    color: #333;
    font-size: inherit;
}
.single.options-hidden .selectator_input {
    opacity: 0;
    position: absolute;
    left: -10000px;
}
.single.options-visible .selectator_input {
    opacity: 1;
}
.disable_search .selectator_input {
    opacity: 0;
    padding: 0 1px 1px 0 !important;
}

.selectator_options {
    margin: 0;
    padding: 0;
    border: 1px solid #ccc;
    position: absolute;
    box-sizing: border-box;
    z-index: 101;
    background-color: #fff;
    overflow-y: auto;
    list-style: none;
    max-height: 250px;
    left: -1px;
    right: -1px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
}
.disable_search .selectator_options {
    border-top: 1px solid #ccc;
}
.single.disable_search .selectator_options {
    padding-top: 0;
}
.options-hidden .selectator_options {
    display: none;
}
.selectator_options .selectator_group {
    padding: 5px;
    font-weight: bold;
}
.selectator_options .selectator_option {
    padding: 5px;
    cursor: pointer;
    color: #434a54;
}
.selectator_options .selectator_option.selectator_group_option {
    padding-left: 20px;
}
.selectator_options .selectator_option:before, .selectator_options .selectator_option:after {
    content: "";
    display: table;
}
.selectator_options .selectator_option:after {
    clear: both;
}
.selectator_options .selectator_option .selectator_option_left {
    float: left;
    margin: 0 8px 0 12px;
}
.selectator_options .selectator_option .selectator_option_left img {
    height: 30px;
    border-radius: 2px;
}
.selectator_options .selectator_option .selectator_option_title {
    margin-left: 12px;
}
.selectator_options .selectator_option .selectator_option_subtitle {
    font-size: 70%;
    color: rgba(0, 0, 0, 0.5);
    margin-top: -4px;
    margin-bottom: -1px;
    margin-left: 12px;
}
.selectator_options .selectator_option .selectator_option_right {
    float: right;
    color: #434a54;
    font-weight: bold;
    font-size: 80%;
    text-align: center;
    line-height: 16px;
    border-radius: 12px;
    padding: 2px 12px;
    margin-top: 4px;
}
.selectator_options .selectator_option.active {
    background-color: #f5f5f5;
}
.selectator_options .selectator_option.active .selectator_option_subtitle {
    color: rgba(255, 255, 255, 0.6);
}
@keyframes selectator_spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* 9. OTHER STUFF
--------------------------------------------------------- */
[class*="bg-"] {
    padding: 15px;
}
.well .label {
    font-size: 80%;
    padding: .4em .9em .4em;
}
.tooltip-inner {
    white-space: pre;
}
.table>tbody>tr>td {
    vertical-align: middle;
}
.table a:not(.btn),
table a:not(.btn) {
    text-decoration: none;
}
.pagination {
    margin: 21px 0 0 0;
}
.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
    background-color: #f5f5f5;
}
select[multiple].form-control {
    height: 39px;
}
.text-muted {
    color:#bababa;
}
.modal-title {
    font-weight: 400;
}
.modal-full {
  margin: auto;
  width: 90%;
}
.modal-full .modal-content {
  min-height: 100vh;
}

.modal.left .modal-dialog,
.modal.right .modal-dialog {
  position: fixed;
  margin: auto;
  width: 100%px;
  height: 100%;
  -webkit-transform: translate3d(0%, 0, 0);
      -ms-transform: translate3d(0%, 0, 0);
       -o-transform: translate3d(0%, 0, 0);
          transform: translate3d(0%, 0, 0);
}

.modal.left .modal-content,
.modal.right .modal-content {
  height: 100%;
  overflow-y: auto;
}

.modal.left .modal-body,
.modal.right .modal-body {
  padding: 15px 15px 80px;
}

.modal.left.fade .modal-dialog{
  left: -320px;
  -webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
     -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
       -o-transition: opacity 0.3s linear, left 0.3s ease-out;
          transition: opacity 0.3s linear, left 0.3s ease-out;
}

.modal.left.fade.in .modal-dialog{
  left: 0;
}

.modal.right.fade .modal-dialog {
  right: -320px;
  -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
     -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
       -o-transition: opacity 0.3s linear, right 0.3s ease-out;
          transition: opacity 0.3s linear, right 0.3s ease-out;
}

.modal.right.fade.in .modal-dialog {
  right: 0;
}

/* 10. HELPERS
--------------------------------------------------------- */
.no-margin {
    margin: 0;
}
.no-top-margin {
    margin-top: 0;
}
.no-bottom-margin {
    margin-bottom: 0;
}
.margin-tiny {
    margin-bottom: 1rem;
}
.margin-small {
    margin-bottom: 2rem;
}
.margin-medium {
    margin-bottom: 4rem;
}
.margin-large {
    margin-bottom: 6rem;
}

/* 11. MEDIA QUERIES
--------------------------------------------------------- */
.panel-heading .tinynav {
    position: absolute;
    top: 7px;
    right: 15px;
    display: block
}
.panel-heading .nav-tabs {
    display: none
}

@media(min-width: 1200px) {
    #navbar-wrapper {
        position: relative;
    }

    #content-wrapper {
        position: relative;
        top: 0px;
    }

    #notify {
        position: relative;
        top: 55px;
    }

    .panel-heading .tinynav {
        display: none;
    }
    .panel-heading .nav-tabs {
        display: block;
    }
}
@media(max-width: 1279px) {
  #content-wrapper {
      padding: 0;
      top: 50px;
      margin-bottom: 80px;
  }
  .profile-card {
      padding: 0;
      margin: 0;
  }
}

/*Margin and Padding helpers*/
/*xs*/
.p-xs { padding: .25em; }
.p-x-xs { padding: 0 .25em; }
.p-y-xs { padding: .25em 0 ; }
.p-t-xs { padding-top: .25em; }
.p-r-xs { padding-right: .25em; }
.p-b-xs { padding-bottom: .25em; }
.p-l-xs { padding-left: .25em; }
.m-xs { margin: .25em; }
.m-x-xs { margin: 0 .25em; }
.m-y-xs { margin: .25em 0 ; }
.m-r-xs { margin-right: .25em; }
.m-l-xs { margin-left: .25em; }
.m-t-xs { margin-top: .25em; }
.m-b-xs { margin-bottom: .25em; }
/*sm*/
@media (min-width:768px){
/*sm*/
.p-sm { padding: .5em; }
.p-x-sm { padding: 0 .5em; }
.p-y-sm { padding: .5em 0 ; }
.p-t-sm { padding-top: .5em; }
.p-r-sm { padding-right: .5em; }
.p-b-sm { padding-bottom: .5em; }
.p-l-sm { padding-left: .5em; }
.m-sm { margin: .5em; }
.m-x-sm { margin: 0 .5em; }
.m-y-sm { margin: .5em 0 ; }
.m-t-sm { margin-top: .5em; }
.m-r-sm { margin-right: .5em; }
.m-b-sm { margin-bottom: .5em; }
.m-l-sm { margin-left: .5em; }
}

/*md*/
@media (min-width: 992px){
.p-md { padding: 1em; }
.p-x-md { padding: 0 1em; }
.p-y-md { padding: 1em 0; }
.p-t-md { padding-top: 1em; }
.p-r-md { padding-right: 1em; }
.p-b-md { padding-bottom: 1em; }
.p-l-md { padding-left: 1em; }
.m-md { margin: 1em; }
.m-x-md { margin: 0 1em; }
.m-y-md { margin: 1em 0 ; }
.m-t-md { margin-top: 1em; }
.m-r-md { margin-right: 1em; }
.m-b-md { margin-bottom: 1em; }
.m-l-md { margin-left: 1em; }
}

/*lg*/
@media (min-width: 1200px){
.p-lg { padding: 1.5em; }
.p-x-lg { padding: 0 1.5em; }
.p-y-lg { padding: 1.5em 0; }
.p-t-lg { padding-top: 1.5em; }
.p-r-lg { padding-right: 1.5em; }
.p-b-lg { padding-bottom: 1.5em; }
.p-l-lg { padding-left: 1.5em; }
.m-lg { margin: 1.5em; }
.m-x-lg { margin: 0 1.5em; }
.m-y-lg { margin: 1.5em 0; }
.m-t-lg { margin-top: 1.5em; }
.m-r-lg { margin-right: 1.5em; }
.m-b-lg { margin-bottom: 1.5em; }
.m-l-lg { margin-left: 1.5em; }
}
/*xl*/
.p-xl { padding: 3em; }
.p-x-xl { padding: 0 3em; }
.p-y-xl { padding: 3em 0 ; }
.p-t-xl { padding-top: 3em; }
.p-r-xl { padding-right: 3em; }
.p-b-xl { padding-bottom: 3em; }
.p-l-xl { padding-left: 3em; }
.m-xl { margin: 3em; }
.m-x-xl { margin: 0 3em; }
.m-y-xl { margin: 3em 0; }
.m-t-xl { margin-top: 3em; }
.m-r-xl { margin-right: 3em; }
.m-b-xl { margin-bottom: 3em; }
.m-l-xl { margin-left: 3em; }

@media (max-width: 768px) {
    .mobile-fixed-top {
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 1;
    }
    .truncated {
      width: 220px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    #content-wrapper {
      top:70px;
      margin-bottom: 80px;
    }
}

.hidden_navbar_brand {
  display: none;
}

.navbar img.logo {
  display: inline-block;
  height: 30px;
  width: 30px;
  margin-top: -5px;
}
.navbar img.menu_icon {
  display: inline-block;
  height: 24px;
  width: 24px;
  margin-top: -2px;
}
.modal-fullscreen {
  background: transparent;
}
.modal-fullscreen .modal-content {
  background: transparent;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.modal-fullscreen .modal-dialog {
  margin: 0;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}
.module {
    display: inline-block;
    width: 20%;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: -4px;
}
.module .panel-body {
    display: block;
    padding: 0px 0px 10.5px 0px;
}
.module .panel-body h4 {
    margin-bottom: 0;
}
.module .panel-body:hover {
    text-decoration: none;
    background-color: #ddd;
}
.module .panel-body .panel-thumb {
    background: #ddd;
    height: 124px;
    position: relative;
    color: #222;
    overflow: hidden;
}
.module .panel-body .panel-thumb .fa {
    font-size: 48px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
}
.module .panel-body .panel-thumb img {
    width: 60px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
}
.module .panel-body .panel-thumb .desc {
    opacity: 0;
    font-size: 16px;
    color: #000;
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    padding: 0px 10px;
    text-align: center;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    font-weight: 400;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
.module .panel-body .panel-thumb:hover .fa {
    opacity: 0.2;
    font-size: 200px;
}
.module .panel-body .panel-thumb:hover img {
    opacity: 0.4;
    position: absolute;
    transform: scale(6);
}
.module .panel-body .panel-thumb:hover .desc {
    opacity: 1;
}
@media (min-width: 992px) and (max-width: 1200px) {
    .module {
        width: 33.33%;
    }
}
@media (min-width: 480px) and (max-width: 992px) {
    .module {
        width: 50%;
    }
}
@media (max-width: 480px) {
    .module {
        width: 100%;
    }
}
.icon-bar {
  width: 100%;
  background-color: #555;
  overflow: auto;
  bottom:0;
  position: fixed;
}

.icon-bar a {
  float: left;
  width: 20%;
  text-align: center;
  padding: 10px 0;
  transition: all 0.3s ease;
  color: white;
  font-size: 24px;
}

.fa-Tanggal:before {
    content: "\f00d";
}
.fa-Tambalan:before {
    content: "\f111";
}
.fa-Akar:before {
    content: "\f00c";
}
.fa-Karies:before {
    content: "\f10c";
}
.fa-Goyang:before {
    content: "\f153";
}
.fa-Erupsi:before {
    content: "\f07e";
}
