.table-odontogram {
	width: 100%;
	overflow-y: auto;
	_overflow: auto;
	margin: 0 0 1em;
	padding-right: 0px;
}
.gigi_posterior{
    background: url("../img/posterior.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.gigi_anterior{
    background: url("../img/anterior.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
td.name { font-weight: bold; font-size: 14px; }
input.odont_input, .odont_color {
	width: 25px;
	height: 25px;
	padding: 6px 6px;
	font-weight: bold;
	font-size: 14px;
	text-align: center;
}
.bootstrap-select .bs-searchbox .form-control {
	margin-left: 0px !important; 
}
