.table-odontogram {
	width: 100%;
	overflow-y: auto;
	_overflow: auto;
	margin: 0 0 1em;
	padding-right: 0px;
}
.gigi_posterior{
    background: url("../img/posterior.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.gigi_anterior{
    background: url("../img/anterior.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
td.name { font-weight: bold; font-size: 14px; }
input.odont_input, .odont_color {
	width: 25px;
	height: 25px;
	padding: 6px 6px;
	font-weight: bold;
	font-size: 14px;
	text-align: center;
}


/* Form styles */
div.form-container { margin: 10px; padding: 5px; background-color: #FFF; }

p.legend { margin-bottom: 1em; }
p.legend em { color: #C00; font-style: normal; }

div.form-container div.controlset {display: block; float:left; width: 100%; padding: 0.25em 0;}

div.form-container div.controlset label,
div.form-container div.controlset input,
div.form-container div.controlset div { display: inline; float: left; }

div.form-container div.controlset label { width: 100px;}

div.color_picker {
	height: 25px;
	width: 25px;
	padding: 0 !important;
	border: 1px solid #ccc;
	background: url(arrow.gif) no-repeat top right;
	cursor: pointer;
	line-height: 16px;
}

div#color_selector {
	width: 106px;
	position: absolute;
	border: 1px solid #598FEF;
	background-color: #EFEFEF;
	padding: 2px;
}
div#color_custom {width: 100%; float:left }
div#color_custom label {font-size: 95%; color: #2F2F2F; margin: 5px 2px; width: 25%}
div#color_custom input {margin: 5px 2px; padding: 0; font-size: 95%; border: 1px solid #000; width: 65%; }

div.color_swatch {
	height: 20px;
	width: 20px;
	border: 1px solid #000;
	margin: 2px;
	float: left;
	cursor: pointer;
	line-height: 12px;
}
